*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: white;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.container .left_side{
    position: relative;
    background: burlywood;
    padding: 40px;
}
.profile_text{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.profile_text .imgBx{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow:hidden
}
.profile_text .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 122%;
    object-fit: cover;
}
.profile_text h2{
    color: white;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.contactInfo{
    padding-top: 40px;
}
.title
{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactInfo ul{
    position: relative;
}
.contactInfo ul li{
    position: relative;
    margin: 10px;
    cursor: pointer;
}
.contactInfo ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: brown;
}
.contactInfo ul li span{
    color: black;
    font-weight: 300;
}
.contactInfo.education li {
 margin-bottom: 15px;

}
.contactInfo.education h5{
    color: rgb(10, 4, 0);
    font-weight: 500;
}
.contactInfo.education h4:nth-child(2){
    color: black;
    font-weight: 500;
}
.contactInfo.education h4{
    color: black;
    font-weight: 300;
}
.contactInfo.language .percent{
    position: relative;
    width: 100%;
    height: 8px;
    background: black;
    display: block;
    margin-top: 5px;
}
.contactInfo.language .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: brown;
}
.container .right_side{
    position: relative;
    background: white;
    padding: 40px;
}
.about{
    margin-bottom: 40px;
}
.about:last-child{
    margin-bottom: 0;
}
.title2{
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p{
   color: black; 
}
.about .box{
    display: flex;
    flex-direction: row;
     margin: 20px 0;
}
.about .box .year_company{
    min-width: 150px;
}
.about .box .year_company h5{
    text-transform: uppercase;
    color: brown;
    font-weight: 600;
}
.about .box .text h4{
    text-transform: uppercase;
    color: brown;
    font-size: 16px;
}

.about1{
    margin-bottom: 40px;
}
.about:last-child{
    margin-bottom: 0;
}
.title2{
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p{
   color: black; 
}
.about .box{
    display: flex;
    flex-direction: row;
     margin: 20px 0;
}
.about1 .box1 .year_company1{
    min-width: 150px;
}
.about1 .box1 .year_company1 {
   
    color: brown;
    font-weight: 600;
}
.about1 .box1 .text1{
    
    color: brown;
    font-size: 16px;
}

.skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
}
.skills .box h4{
    text-transform: uppercase;
    color: black;
    font-weight: 500;
}
.skills .box .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background: gray;
}
.skills .box .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: brown;

}
.interest ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.interest ul li .fa{
    color: brown;
    font-size: 18px;
    width: 20px;
}
.interest ul li{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px;
}